// colors
$primary-color: rgb(255, 255, 255);
$secundary-color: rgb(74, 159, 185);
$secundary-color-s:rgba(74, 159, 185, 0.247);
$price-color: rgb(250, 2, 2);
$error-color: rgb(167, 39, 39);
$success-color: green;
$button-b-color: #004173;
$button-t-color: #FBC800;//#DE0A07;
// fontsize
$font-size-xs: 0.5rem;
$font-size-ss: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;